affine==2.3.0
appdirs==1.4.4
attrs==22.1.0
branca==0.6.0
brotlipy==0.7.0
certifi==2022.12.7
cffi==1.15.1
cftime==1.6.2
charset-normalizer==2.0.4
click==8.0.4
click-plugins==1.1.1
cligj==0.7.2
colorama==0.4.6
contourpy==1.0.5
cryptography==39.0.1
cycler==0.11.0
Fiona==1.9.1
folium==0.14.0
fonttools==4.25.0
GDAL==3.6.4
geopandas==0.13.0
idna==3.4
Jinja2==3.1.2
joblib==1.1.1
kiwisolver==1.4.4
mapclassify==2.5.0
MarkupSafe==2.1.1
matplotlib==3.7.1
mkl-fft==1.3.6
mkl-random==1.2.2
mkl-service==2.4.0
munch==2.5.0
munkres==1.1.4
netCDF4==1.6.3
networkx==2.8.4
numpy==1.24.3
packaging==23.0
pandas==2.0.1
Pillow==9.5.0
pip==23.0.1
pooch==1.4.0
pycparser==2.21
Pygments==2.12.0
pyOpenSSL==23.0.0
pyparsing==3.0.9
pyproj==3.5.0
PySocks==1.7.1
python-dateutil==2.8.2
pytz==2022.7
rasterio==1.3.6
requests==2.29.0
rioxarray==0.14.1
Rtree==1.0.1
scikit-learn==1.2.2
scipy==1.10.1
setuptools==66.0.0
shapely==2.0.1
six==1.16.0
snuggs==1.4.7
threadpoolctl==2.2.0
tzdata==2023.3
urllib3==1.26.15
wheel==0.38.4
win-inet-pton==1.1.0
xarray==2023.4.2
xyzservices==2022.9.0
